<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
<div id="container">
  <div class="item" style="height: 677px">
    <app-navbar></app-navbar>

    <h3 class="title">Eat & Enjoy good food, <br />made with love</h3>

    <p class="subTitle">
      Making a reservation at restaurant is easy and takes just <br />
      a couple of minutes.
    </p>
    <button class="btn btnMenu" (click)="redirectToMenu()">Our menu</button>
  </div>
  <div class="item">
    <span *ngIf="!token; else loggedOut">
      <button class="btn btn-danger btnLogin" routerLink="/Login">Login</button>
    </span>
    <ng-template #loggedOut>
      <button class="btn btn-danger btnLogin" routerLink="/UserProfile">
        Check Profile
      </button>
    </ng-template>
    <img
      src="../../assets/images/h1_hero1.jpg"
      class="img-fluid imgHeader"
      style="width: 810px; height: 677px"
    />
  </div>

  <h1 class="h1">Best place to eat good food</h1>

  <div class="card-deck pt-5" style="width: 80%; margin-left: 10rem">
    <div class="card" *ngFor="let item of cardsItems">
      <img class="card-img-top cardImg" src="{{ item.image }}" />
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">
          {{ item.description }}
        </p>
      </div>
    </div>
  </div>
  <app-popular-items></app-popular-items>
  <div class="galery">
    <h2 class="galeryTitle">Restaurant galery</h2>
    <div class="card-group">
      <div class="card" *ngFor="let img of cardImage">
        <img
          src="{{ img.image }}"
          alt="img"
          class="card-img img-fluid galeryImg"
        />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
