<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
<div id="container">
  <div class="item" style="height: 677px">
    <app-navbar></app-navbar>

    <h3 class="title">Eat & Enjoy good food, <br />made with love</h3>

    <p class="subTitle">
      Making a reservation at restaurant is easy and takes just <br />
      a couple of minutes.
    </p>
    <button class="btn btnMenu" (click)="redirectToMenu()">Our menu</button>
  </div>
  <div class="item">
    <a class="btn" (click)="rezervare()" class="btnLink">Rezervare</a>
    <button class="btn btn-danger btnLogin" routerLink="/Login">Login</button>
    <img
      src="../../assets/images/h1_hero1.jpg"
      class="img-fluid imgHeader"
      style="width: 810px; height: 677px"
    />
  </div>

  <h1 class="h1">Best place to eat good food</h1>

  <div class="card-deck pt-5" style="width: 80%; margin-left: 10rem">
    <div class="card" *ngFor="let item of cardsItems">
      <img class="card-img-top cardImg" src="{{ item.image }}" />
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">
          {{ item.description }}
        </p>
      </div>
    </div>
  </div>
  <app-popular-items></app-popular-items>
  <div class="galery">
    <h2 class="galeryTitle">Restaurant galery</h2>
    <div class="card-group">
      <div class="card" *ngFor="let img of cardImage">
        <img
          src="{{ img.image }}"
          alt="img"
          class="card-img img-fluid galeryImg"
        />
      </div>
    </div>
  </div>
</div>
<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img
          width="70"
          src="../../assets/images/kisspng-monumental-restaurant-logo-cafe-5af54f49045985.8762634515260260570178.png"
          alt="logo"
          class="img-fluid imgLogo"
        />
        <p class="text-black-50 mt-4 text">
          Since 1988, Offering Traditional Dishes of the highest quality. Enjoy
          your favorites again, Heated Outdoors or Indoors! Classic restaurant
          and Service with Safety Protocols
        </p>
        <span>
          <i class="fab fa-instagram iconFa fa-2x"></i>
          <i class="fab fa-facebook-square iconFa fa-2x"></i>
          <i class="fab fa-twitter-square iconFa fa-2x"></i>
          <i class="fab fa-linkedin iconFa fa-2x"></i>
        </span>
      </div>
      <div class="col-sm-4">
        <h2 class="linksTitle">Links</h2>
        <a routerLink="/home" class="text-black-50 componententLink">Home</a>
        <a routerLink="/menu" class="text-black-50 componententLink">Menu</a>
        <a routerLink="/about" class="text-black-50 componententLink">About</a>
        <a routerLink="/blog" class="text-black-50 componententLink">Blog</a>
        <a routerLink="/Rezervare" class="text-black-50 componententLink"
          >Rezervare</a
        >
      </div>
      <div class="col-sm-4">
        <h2 class="contactTitle">Contact Us</h2>
      </div>
    </div>
  </div>
</div>
