.btnLink{
position: absolute;
z-index: 2;
margin: 25px 0 30px 380px;
border-radius:20px;
width:20%;
color:white;
text-decoration: underline rgb(211, 76, 98) ;
text-underline-offset:3px;

}
.imgHeader{
    border: none;
}

.btnLogin{
position: absolute;
z-index: 2;
margin: 25px 0 30px 520px;
border-radius:20px;
width:10%;
}
.btnLink:hover{ 
    font-family: Arial, Helvetica, sans-serif;
    color:white
}

.cardImg{
    width: 45%;
    margin-top: 1rem;
    margin-left: 110px;
}
.card-title{
    text-align: center;
    color:rgb(61, 35, 16);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 600;
}
.h1{
    padding-top: 8rem;
    text-align: center;
    color:rgb(61, 35, 16);
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;

}

.card-text{
    font-size: 16px;
    padding-top: 2rem;
    color: rgb(133, 124, 124);
    text-align: center;
}

.title{
    text-align: center;
    font-size: 50px;
color:rgb(61, 35, 16);
font-weight: 600;
margin-top: 8rem;
line-height:1.1;
margin-left: -95px;
font-family: Arial, Helvetica, sans-serif;
}

.subTitle{
 
    margin-top: 3rem;
    margin-left:3.8rem;
    font-size:23px;
    color:rgb(66, 66, 66);
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;

}

.btnMenu{
    background-color: #FE5F41;
color:white;
border-radius: 26px;
margin-top: 1rem;
width:21%;
margin-left: 7rem;
height: 9%;
font-weight: 600;
font-size: 18px;
}
.btnMenu:hover{
    background-color: rgb(190, 76, 56);
}
.galery{
    margin-top: -28rem;
}
.galeryImg{
    width: 100vh;
    height: 35vh;
}
.galeryTitle{
    
     text-align: center;
    color:rgb(61, 35, 16);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    top:-2rem;
    margin-bottom: 6rem;

}
.footer-wrapper{
      background: #FFF7F3;
      width: 100%;
      height: 50vh;
    
      position: relative;
}

.imgLogo{
    padding-top: 5rem;
}
.text{
    margin-left: -4rem;
 font-size: 1rem;
}

.iconFa{
color: #FE5F41;
padding-left: 3rem;
margin-left: -2rem;
margin-top: 2rem;
}
.linksTitle{
    margin-left:12rem;
    margin-top: 5rem;
}

.componententLink{
 display: block;
  margin-left:12rem;
  padding-top: 1rem;
}

.contactTitle{
   margin-left:13rem;
   margin-top: 4rem; 
}

  #container{
    height:100%;
    width:100%;
    font-size:0;
    margin:0 auto;
  }
  .item{
    display:inline-block;
    vertical-align:top;
    background-color: #f4e7eb;
    height:100%;
    width:50%;
  }
   @media (max-width:1300px) and (min-width:992px){
     .title{
    margin-left:-2rem;
margin-top: 3rem;
     font-size: 2rem;
    }
    .subTitle{
        margin-left: 1rem;
        font-size: 1rem;
    }
    .btnMenu{
        margin-left: 4rem;
        width: 30%;
    }
}
 @media (max-width:992px) and (min-width:768px){
     .title{
    margin-left:-2rem;
margin-top: 3rem;
     font-size: 2rem;
    }
    .subTitle{
        margin-left: 1rem;
        font-size: 1rem;
    }
    .btnMenu{
        margin-left: 4rem;
        width: 30%;
    }
}
  @media (max-width:768px) and (min-width:567px) {
    .contactTitle{
        margin-left: 0.5rem;
        margin-top: 1rems;
    }
     .item{
height: 50%;
width: 100vh;
      }
      .componententLink{
        margin-left: 0.5rem;
        margin-top: 1rems;
    }
    .linksTitle{
        margin-left: 0.5rem;
        margin-top: 3rem;
    }
      .imgHeader{
       display: none;
    }
     .btnLogin{
        margin-left:21rem;
        margin-top: -40rem;
width: 20%;
    }
    .h1{
        font-size: 2rem;
        margin-top: -3rem;
    }
     .galery{
        margin-top: -32rem;
    }
    .card{
        margin-left: -7rem;
        width: 50vh;
    }
     .title{
        font-size: 1.4rem;
        margin-top: 2rem;
        text-align: left;
        margin-left: 1rem;
    }
     .text{
  margin-left: 0.5rem;
    }
    .subTitle{
  text-align: left;
  margin-left: 1rem;
  font-size: 1rem;
margin-top: 2rem;
    }
    .footer-wrapper{
   height: 100vh;
    }
    .galeryImg{
        margin-left: 130px;
    }
    .btnMenu{
 margin-left: 1rem;

    }
}
