.btnLink{
position: absolute;
z-index: 2;
margin: 25px 0 30px 380px;
border-radius:20px;
width:20%;
color:white;
text-decoration: underline rgb(211, 76, 98) ;
text-underline-offset:3px;

}
.btnLogin{
position: absolute;
z-index: 2;
margin: 25px 0 30px 520px;
border-radius:20px;
width:10%;
}
.btnLink:hover{
 
   
    font-family: Arial, Helvetica, sans-serif;
    color:white

}
.cardImg{
    width: 45%;
    margin-top: 1rem;
    margin-left: 110px;
}
.card-title{
    text-align: center;
    color:rgb(61, 35, 16);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 600;
}
.h1{
    padding-top: 8rem;
    text-align: center;
    color:rgb(61, 35, 16);
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;

}
.card-text{
    font-size: 16px;
    padding-top: 2rem;
    color: rgb(133, 124, 124);
    text-align: center;
}
.title{
    text-align: center;
    font-size: 50px;
color:rgb(61, 35, 16);
font-weight: 600;
margin-top: 8rem;
line-height:1.1;
margin-left: -95px;
font-family: Arial, Helvetica, sans-serif;
}
.subTitle{
 
    margin-top: 3rem;
    margin-left:3.8rem;
    font-size:23px;
    color:rgb(66, 66, 66);
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;

}
.btnMenu{
    background-color: #FE5F41;
color:white;
border-radius: 26px;
margin-top: 1rem;
width:21%;
margin-left: 7rem;
height: 9%;
font-weight: 600;
font-size: 18px;
}
.btnMenu:hover{
    background-color: rgb(190, 76, 56);
}


  #container{
    height:100%;
    width:100%;
    font-size:0;
    margin:0 auto;
  }
  .item{
    display:inline-block;
    vertical-align:top;
    background-color: #f4e7eb;
    height:100%;
    width:50%;
  }
  .item:nth-child(2){
    background:#F4CAAE;
  }