<div style="position: relative">
  <img
    src="../../../assets/images/brown-background-8.jpg"
    class="img-fluid background-img"
  />
  <h2 class="heading">Most Popular Dishes</h2>
  <button type="button" (click)="redirectToFullMenu()" class="btn btnMenu">
    Full Menu
  </button>

  <div>
    <button type="button" class="btn" (click)="">Breakfast</button>
    <button type="button" class="btn" (click)="">Lunches</button>
    <button type="button" class="btn" (click)="">Dinner</button>
    <button type="button" class="btn" (click)="">Dinner</button>
    <button type="button" class="btn" (click)="">Fastfood</button>
  </div>
</div>
