
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
    <div class="wrapper">
    
    <div class="container">
        
        <div class="row ">
            <div class="col-md-3">
                <img class=" image" src="../../../assets/images/rl-fork-knife.png">
            </div>
          
            <div class="col-md-3">
            
                <h1 class="formTitle">Restaurant Online Reservation  System</h1>
            </div>
           
            <div class="col-md-6">
               
                <form [formGroup]="registrationModel" class="form" (ngSubmit)="SubmitForm()" autocomplete="off">
                   
                    <div class="col-auto">
                        <label class="sr-only" for="UserName">Username</label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div   style="margin-top:50px"  class="input-group-text"><i class="fa fa-user-circle"></i></div>
                          </div>
                          
                          <input  style="margin-top:50px" id="UserName" class="form-control" type="text" placeholder="UserName" formControlName="UserName">
                          <label style="width:40%" class="text-danger" *ngIf="registrationModel.get('UserName').touched &&registrationModel.get('UserName').errors?.required ">
                              This field is required
                              </label>
                          
                        </div>
                      </div>
                      <div class="col-auto mt-4">
                        <label class="sr-only" for="FullName">FullName</label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-user"></i></div>
                          </div>
                          <input id="FullName" class="form-control" type="text" placeholder="FullName" formControlName="FullName">
                          <label class="text-danger" *ngIf="registrationModel.get('FullName').touched &&registrationModel.get('FullName').errors?.required ">
                              This field is required
                          </label>
                          
                        </div>
                      </div>

                      <div class="col-auto mt-4">
                        <label class="sr-only" for="Email">Email</label>
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text"><i class="far fa-envelope"></i></div>
                          </div>
                          <input id="Email" class="form-control" type="email" placeholder="Email" formControlName="Email">
                <label class="text-danger" *ngIf="registrationModel.get('Email').touched && registrationModel.get('Email').errors?.required">
                    This field is required
                </label>
                <label class="text-danger" *ngIf="registrationModel.get('Email').touched && registrationModel.get('Email').errors?.email">
                    Invalid email format
                </label>
                        </div>
                      </div>
           
              
            
             <div  formGroupName="Passwords">

                <div class="col-auto mt-4">
                    <label class="sr-only" for="Password" >Password</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fas fa-lock-alt"></i></div>
                      </div>
                      <input id="Password" class="form-control" type="password" placeholder="Password" formControlName="Password">
                      <label class="text-danger" *ngIf="registrationModel.get('Passwords.Password').touched && registrationModel.get('Passwords.Password').errors?.required">
                          This field is required
                      </label>
                      <label class="text-danger" *ngIf="registrationModel.get('Passwords.Password').touched && registrationModel.get('Passwords.Password').errors?.minLength">
                         Password must have more than 4 characters
                      </label>
                    </div>
                  </div>

                  <div class="col-auto mt-4">
                   
                    <label class="sr-only" for="ConfirmPassword">ConfirmPassword</label>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text"><i class="far fa-key"></i></div>
                      </div>
                      <input id="ConfirmPassword" class="form-control" placeholder="Confirm Password" type="password"  formControlName="ConfirmPassword">
                      <label class="text-danger" *ngIf="registrationModel.get('Passwords.ConfirmPassword').touched && registrationModel.get('Passwords.ConfirmPassword').errors?.required">
                          This field is required
                      </label>
                      <label class="text-danger" *ngIf="registrationModel.get('Passwords.ConfirmPassword').touched && registrationModel.get('Passwords.ConfirmPassword').errors?.minLength">
                         Password must have more than 4 characters
                      </label>
                      <label class="text-danger" *ngIf="registrationModel.get('Passwords.ConfirmPassword').touched && registrationModel.get('Passwords.ConfirmPassword').errors?.passwordsMustMatch">
                          Password must match
                       </label>
                    </div>
                  </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
                <button  type="submit" class="btn btn-lg btn-block" [disabled]="!registrationModel.valid">Sign Up</button>
            </div>
        </div>
                </form>
            </div>
        </div>
    </div>
