<div class="footer-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img
          width="70"
          src="../../assets/images/kisspng-monumental-restaurant-logo-cafe-5af54f49045985.8762634515260260570178.png"
          alt="logo"
          class="img-fluid imgLogo"
        />
        <p class="text-black-50 mt-4 text">
          Since 1988, Offering Traditional Dishes of the highest quality. Enjoy
          your favorites again, Heated Outdoors or Indoors! Classic restaurant
          and Service with Safety Protocols
        </p>
        <span>
          <i class="fab fa-instagram iconFa fa-2x"></i>
          <i class="fab fa-facebook-square iconFa fa-2x"></i>
          <i class="fab fa-twitter-square iconFa fa-2x"></i>
          <i class="fab fa-linkedin iconFa fa-2x"></i>
        </span>
      </div>
      <div class="col-sm-4">
        <h2 class="linksTitle">Links</h2>
        <a routerLink="/home" class="text-black-50 componententLink">Home</a>
        <a routerLink="/menu" class="text-black-50 componententLink">Menu</a>
        <a routerLink="/about" class="text-black-50 componententLink">About</a>
        <a routerLink="/blog" class="text-black-50 componententLink">Blog</a>
        <a routerLink="/Rezervare" class="text-black-50 componententLink"
          >Rezervare</a
        >
      </div>
      <div class="col-sm-4">
        <h2 class="contactTitle">Contact Us</h2>
      </div>
    </div>
  </div>
</div>
